<div class="container-fluid">

  <div class = "row">
    <div class="col-lg-12">
      <mat-card fxFlex="100">
        <h3>Data sources</h3>
        <button class="float-lg-right" style="margin-left: 50px" mat-mini-fab  (click)="refTable()" color="gray"><mat-icon>refresh</mat-icon>
        </button>
        <button mat-raised-button class="btn btn-info float-lg-right " (click)="OpenModal()">ADD NEW CONNECTION</button>
      </mat-card>
    </div>
  </div>

</div>
<br>
<br>
<div #container></div>
