<app-headerlanding></app-headerlanding>

<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/vis.jpeg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="angular-logo">
            <img src="assets/img/VisIo.png" alt="" style="width: 150px" >
          </div>
          <h1 class="presentation-title">Big Data Visualization</h1>
          <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="">
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="">
          </div>
        </div>

        <h2 class="presentation-subtitle text-center"></h2>
      </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by Zekri Sidi Mohamed Hicham

    </h6>
  </div>
  <div class="main">


    <div class="section">
      <div class="container text-center">

        <div class="row justify-content-md-center sharing-area text-center">
          <div class="text-center col-md-12 col-lg-8">
            <h3>Thank you for supporting us!</h3>
          </div>
          <div class="text-center col-md-12 col-lg-8">
            <a href="https://twitter.com/ZekriSidi" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
              <i class="fa fa-twitter"></i> Twitter
            </a>
            <a href="h.zekri@esi-sba.dz" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="Share!">
              <i class="fa fa-google-plus"></i> Google
            </a>
            <a href="#pablo" class="btn btn-facebook-bg facebook-sharrre btn-round" style="background-color: #0077b5" rel="tooltip" title="Share!">
              <i class="fa fa-linkedin"></i> Linked In
            </a>
            <a href="https://github.com/zekriHichem" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github">
              <i class="fa fa-github"></i> Star
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footerlanding></app-footerlanding>
